@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #08557f;
  --primary-dark: #063a58;
  --primary-light: #0a6a9e;
  --secondary: #fb851b;
  --success: #10b981;
  --danger: #ef4444;
  --warning: #f59e0b;
  --info: #3b82f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-setting: var(--font-setting);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-setting);
}

::selection {
  background-color: var(--primary);
  color: #ffffff;
}

::-moz-selection {
  background-color: var(--primary);
  color: #ffffff;
}
